<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ css('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css') }}
<title>VueJS CRUD</title>
</head>
<body>
  <div id="app"></div>

 {{ script('js/bundle')}} 

 <!-- Bootstrap Dependencies JS -->
  {{ script('https://code.jquery.com/jquery-3.2.1.slim.min.js') }}

  {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js') }}

  {{ script('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js') }}
</body>
</html>
